.game {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../image/image.png");
  background-size: cover;
  background-position: center;
}

.game .monkey-image {
  position: absolute;
  bottom: 0%;
  left: 52%;
  width: 34%;
  transform: translateX(-50%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.game .monkey-image.jump {
  transform: translate(-50%, -70px);
}

.game .vector-image,
.game .ellipse3091-image,
.game .ellipse3101-image,
.game .cog-image,
.game .star-image,
.game .ellipse3092-image,
.game .ellipse3102-image {
  position: absolute;
}

.game .vector-image {
  bottom: 1.9%;
  left: 18.9%;
  width: 40%;
}

.game .ellipse3091-image {
  bottom: 16%;
  left: 12%;
  width: 1.8%;
  transform: translateX(-50%);
}

.game .ellipse3101-image {
  bottom: 3%;
  left: 5%;
  width: 1%;
  transform: translateX(-50%);
}

.game .cog-image {
  bottom: 5%;
  left: 7%;
  width: 4%;
}
.game .cog-image:hover {
  width: 5%;
}

.game .star-image {
  bottom: 4%;
  left: 20%;
  width: 4%;
}
.game .star-image:hover {
  width: 5%;
}

.game .ellipse3092-image {
  bottom: 14%;
  left: 25%;
  width: 1.8%;
  transform: translateX(-50%);
}

.game .ellipse3102-image {
  bottom: 3%;
  left: 19%;
  width: 1%;
  transform: translateX(-50%);
}

.game .group149-image {
  top: 15%;
  right: 17%;
  width: 30%;
}
