.board .g123-image,
.board .g149-image,
.board .heading1lifeskills-image {
  position: absolute;
}

.board .g123-image {
  cursor: pointer;
  bottom: 5%;
  left: 80%;
  width: 17%;
}
.board .g123-image:hover {
  width: 18%;
}

.board .heading1lifeskills-image {
  top: 24%;
  right: 4%;
  width: 24%;
  transform: translateX(-50%);
}
.board .g149-image {
  top: 15%;
  right: 13%;
  width: 30%;
  /* border: 1px solid red; */
}
